ol li{
    background-color: yellow;
}
ol li:nth-child(even){
    background-color: green;
}
ol li:nth-child(odd){
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3 {
    color: red;
}
li{
    font-size: 20px;
    
}
li em {
    font-weight: bold;
}
.bg-blue{
    background-color: blue;
}
li[class*="Java"]{ 
    background-color: rgb(150, 29, 29);
    
}
.aliados li:nth-child(1):hover, .aliados li:nth-child(1):hover a{
    font-weight: bold;
    color: orange;
    
}
.aliados li:nth-child(2):hover{
    font-weight: bold;
    color: green;
}
.aliados li:nth-child(3):hover{
    font-weight: bold;
    color:black;
}
.aliados li:nth-child(4):hover{
    font-weight: bold;
    color: yellow;

}
.aliados li:nth-child(5):hover{
    font-weight: bold;
    color: green;
    
}

